@inherits BlazorLayoutComponent
@implements ICascadingParameterValue
@layout MainLayout

DAS HIER SOLLTE GANZ OBEN STEHEN.
<CascadingValue Value="this">

    @Body

    <ul id="message-list">
        HIER STEHT DIE MESSAGES-Liste

        malsehen.
        @*@foreach (var msg in @LogItemContainer.Item._messages)
            {
            <li>@msg</li>
            }*@
    </ul>
    <div>
        LOG Output
        <ul id="message-list">
            @*@foreach (var msg in @LogItemContainer.Item.LogOutput)
                {
                <li>@msg</li>
                }*@
        </ul>
    </div>
    WERT
    @CascadingParameterValue
    WERT
</CascadingValue>
@functions
{
    //Container<string> LogItemContainer {get;set;} = new Container<string>{Item = "FÜNF"};
    //[Inject] IHasLog LogData{get;set;}
    public string CascadingParameterValue
{
    get => CascadingParameterValueStatic;
    set => CascadingParameterValueStatic = value;
}
    public static string CascadingParameterValueStatic {get;set;} = "initial";

    //[CascadingParameter] List<string> LogOutput{get;set;}
}

