@page "/chat"

<h4>Serialization Test</h4>
<form class="form-inline">
    <div class="input-append">
        <input type="button" class="btn" value="Gimme objects!" />

    </div>
</form>

<h4>Multiple Arguments</h4>
<form class="form-inline">
    <div class="input-append">
        <input type="button" class="btn" value="Gimme multiple arguments!" />

    </div>
</form>

<h4>Byte array Arguments</h4>
<form class="form-inline">
    <div class="input-append">
        <input type="button" class="btn" value="Gimme byte array arguments!" />

    </div>
</form>

<h4>To Everybody</h4>
<form class="form-inline">
    <div class="input-append">
        <input type="text" id="message-text" placeholder="Type a message" />
        <input type="button" id="broadcast" class="btn" value="Broadcast" />
        <input type="button" id="broadcast-exceptme" class="btn" value="Broadcast (Others)" />
    </div>
</form>

<h4>To Connection</h4>
<form class="form-inline">
    <div class="input-prepend input-append">
        <input type="text" name="connection-message" id="connection-message-text" placeholder="Type a message" />
        <input type="text" name="connection-id" id="connection-id" placeholder="Type a connection id" />
        <input type="button" id="connection-send" class="btn" value="Send to Connection" />
    </div>
</form>

<h4>To Me</h4>
<form class="form-inline">
    <div class="input-append">
        <input type="text" id="me-message-text" placeholder="Type a message" />
        <input type="button" id="send" class="btn" value="Send to Me" />
    </div>
</form>

<h4>Group Actions</h4>
<form class="form-inline">
    <div class="input-prepend input-append">
        <input type="text" name="group-message" id="group-message-text" placeholder="Type a message" />
        <input type="text" name="group-name" id="group-name" placeholder="Type a group name" />
        <input type="button" id="groupmsg" class="btn" value="Send to Group" />
        <input type="button" id="others-groupmsg" class="btn" value="Send to Others in Group" />
        <input type="button" id="join-group" class="btn" value="Join Group" />
        <input type="button" id="leave-group" class="btn" value="Leave Group" />

    </div>
</form>

<ul id="message-list">
    @foreach (var msg in new[] { "kekse", "Kuchen" })
    {
        <li>@msg</li>
    }
</ul>
