@page "/chat"
@inherits ChatComponent

<h4>Upload Chunked</h4>
<form class="form-inline">
    <div class="input-append">
        <input type="file" id="fileUpload" onchange="@UploadFileChunked" ref="fileInput" /> @*bind="FileUploadContent"*@
    </div>
</form>

<h4>Upload POST</h4>
<form class="form-inline" method="post" enctype="multipart/form-data" target="hiddenFrame">
    <input type="file" id="formfile" name="ImageFile" required onchange="this.form.submit()" />
    <div id="hiddenDiv" style="display:none; visibility:hidden;">
        <iframe src="hidden.html" height="1" width="1" border="0" scrolling="no" name="hiddenFrame" id="hiddenFrame"></iframe>
    </div>
</form>

<h4>Broadcast Command</h4>
<form class="form-inline">
    <div class="input-append">
        <input type="text" id="message-text" placeholder="Type a message" bind=@CommandText />
        <input type="button" id="broadcast" class="btn" value="Broadcast" onclick=@BroadcastCommand />
        <input type="button" id="broadcast-exceptme" class="btn" value="Broadcast (Others)" onclick=@SendToOthers />
    </div>
</form>

<h4>Set Color</h4>
<form class="form-inline">
    <div class="input-append">
        <input type="color" id="message-color" placeholder="Select a color" bind=@Color /> @*onchange=@SetColor*@
    </div>
</form>

<ul id="message-list">
    @foreach (var msg in _messages)
    {
        <li>@msg</li>
    }
</ul>

<div>
    LOG Output
    <ul id="message-list">
        @foreach (var msg in LogOutput)
        {
            <li>@msg</li>
        }
    </ul>
</div>

